body {
  font-family: "PT Mono", monospace;
  background-color: rgb(255, 248, 233);
}
#login_container {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  /* background-color: rgb(255, 248, 233); */
}
#login_container img {
  width: 100%;
}
.loginMainDiv {
  /* border: 1px sold red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
}

#picture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 100%;
  gap: 10px;
  /* margin: auto; */
}
#picture img {
  width: 100%;
  /* border: 1px solid red; */
}

h1 {
  text-align: center;
  color: rgb(31, 30, 31);
}
p {
  text-align: center;
}

#loginForm {
  display: grid;
  grid-template-rows: repeat(1, fr);
  width: 80%;
  margin: auto;
  gap: 20px;
}

#loginForm > input {
  padding: 10px;
}
#loginForm > button {
  padding: 10px;
}

.createAccount {
  color: rgb(83, 84, 84);
  cursor: pointer;
}
#para {
  margin-top: 0px;
}

@media screen and (width<1000px) {
  #login_container {
    grid-template-columns: repeat(1, 1fr);
    /* border: 1px solid red; */
  }
  #login_container > div:first-child {
    display: none;
  }
  #login_container > div:nth-child(2) {
    max-width: 600px;
    margin: auto;
  }
}
